.blob {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  padding: 0.7rem 1.1rem;
  font-size: 0.8rem;
  background: linear-gradient(
    90deg,
    var(--color-highlight-1),
    var(--color-highlight-2),
    var(--color-highlight-3)
  );
  background-size: 200% 100%;
  background-position: left;
  color: white;
  border: 0;
  border-radius: 7px;
  line-height: 1;
  cursor: pointer;
  transition: all 0.4s ease;
}

.blob:hover {
  background-position: right;
}

.prefix {
  font-size: 0.8rem;
  color: var(--color-neutral-300);
}

.count {
  font-size: 0.8rem;
  color: var(--color-neutral-300);
}
