.searchResultsBox {
  position: fixed;
  top: var(--mobile-header-height);
  left: 0;
  width: 100%;
  max-height: 60vh;
  overflow-y: auto;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  padding: 1rem 2rem;

  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.searchResultsBoxVisible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.suggestedGroup {
  padding-top: 0.5rem;
}

.suggestedList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0;
  list-style: none;
  margin: 0;
}

.suggestedList li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.searchResults {
  list-style: none;
  padding: 0;
  margin: 0;
}

.searchResultItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  padding: 0.5rem 0 0.5rem 0.5rem;
  cursor: pointer;
  border-radius: 7px;
}

.searchResultItem:hover {
  background: var(--color-neutral-400);
}

.searchResultItem p {
  font-size: var(--font-lxl);
  color: var(--color-dark-300);
}

.resultImage {
  border-radius: 7px;
}

.searchDividerLine {
  margin: 1rem 0;
  border: none;
  height: 1px;
  background-color: #ccc;
}

.sectionTitle {
  line-height: 1;
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--color-dark-500);
  margin-bottom: 0.5rem;
}

@media (min-width: 1024px) {
  .searchResultsBox {
    top: var(--desktop-header-height);
    width: 41%;
    left: 50%;
    transform: translateX(-55%);
  }
}

@media (min-width: 1280px) {
  .searchResultsBox {
    width: 36.8%;
    left: 50%;
    transform: translateX(-54.5%);
  }
}

@media (min-width: 1536px) {
  .searchResultsBox {
    width: 38%;
    left: 50%;
    transform: translateX(-50%);
  }
}
