.footer {
  background-color: var(--color-dark-200);
  color: var(--color-neutral-400);
  font-family: var(--font-sans);
  padding: 1rem 0;
  text-align: center;
  font-size: var(--font-sm);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
