.inputGroup {
  position: relative;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  transition: margin-bottom 0.3s ease;
}

.input {
  width: 100%;
  padding: 1rem 1rem 1.1rem 1rem;
  font-size: 1rem;
  border: 1px solid var(--color-dark-400);
  border-radius: 6px;
  color: var(--color-dark-200);
  background-color: white;
  transition: border-color 0.3s ease;
  height: 48px;
  box-sizing: border-box;
}

.input:focus {
  border-color: var(--focus-border-color, var(--color-highlight-1));
  outline: none;
}

.inputError {
  border-color: var(--color-error-1);
}

.floatingInput:focus + .floatingLabel,
.floatingInput:not(:placeholder-shown) + .floatingLabel {
  top: 0;
  left: 16px;
  font-size: 0.8rem;
  transform: translateY(-50%);
}

.floatingInput {
  padding-top: 20px;
}

.floatingLabel {
  position: absolute;
  top: 1rem;
  left: 20px;
  color: var(--color-dark-400);
  pointer-events: none;
  font-size: 1rem;
  background-color: white;
  padding: 0 4px;
  transition: all 0.2s ease;
  line-height: 1;
  display: flex;
  align-items: center;
}

.labelWithIcon {
  top: 0.75rem;
}

.labelIcon {
  margin-right: 4px;
  margin-bottom: 2px;
  color: var(--color-dark-300);
}

.errorMessage {
  overflow: hidden;
  max-height: 0;
  font-size: 0.875rem;
  color: var(--color-error-1);
  margin-top: 4px;
  transition: max-height 0.3s ease, padding 0.3s ease;
  padding-top: 0;
}

.show {
  max-height: 60px;
  padding-top: 4px;
}

.input:disabled {
  color: var(--color-dark-300);
  cursor: not-allowed;
  opacity: 0.5;
}

.hasMessage .errorMessage {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.inputLarge {
  padding: 1.7rem 1rem 1.7rem 1rem;
}

.inputLarge + .floatingLabel {
  top: 1.2rem;
}

.textarea {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid var(--color-dark-400);
  border-radius: 6px;
  color: var(--color-dark-200);
  background-color: white;
  transition: border-color 0.3s ease;
  min-height: 120px;
  resize: vertical;
  box-sizing: border-box;
  line-height: 1.5;
}

.textarea:focus {
  border-color: var(--focus-border-color, var(--color-highlight-1));
  outline: none;
}

.textareaError {
  border-color: var(--color-error-1);
}

.textareaLarge {
  padding: 1.7rem 1rem;
  min-height: 160px;
}

.hintMessage {
  font-size: var(--font-lg);
  color: #555;
  margin-top: 4px;
  line-height: 1.4;
  white-space: pre-line;
}
