.tierInfo {
	margin-bottom: 4rem;
}

.tiersGrid {
	margin-top: 1rem;
}

.tierCard {
	margin-bottom: 1rem;
	padding: 2rem;
	border-radius: 6px;
  	box-shadow:
	    0px 1px 3px rgba(0, 0, 0, 0.2),
	    0px 1px 2px rgba(0, 0, 0, 0.14),
	    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.tierContent {
	display: flex;
	align-items: flex-start;
	gap: 0.5rem;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid #eee;
}

.tierContent h2 {
	font-size: var(--font-2xl);
	line-height: 1;
	color: var(--color-highlight-1);
}

.tierContent p {
	font-size: var(--font-md);
	color: var(--color-dark-400);
}

.tierFeatures {
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.tierFeatures li {
	font-size: var(--font-md);
	color: var(--color-dark-300);
	display: flex;
	align-items: center;
	margin-bottom: 0.5rem;
}

.tierFeatures li span {
	display: block;
	font-size: 0.8rem;
	background: var(--color-success-3);
	border-radius: 50%;
	padding: 0.2rem;
	color: var(--color-success-1);
	margin-right: 0.5rem;
}

@media (min-width: 1024px) {
	.tiersGrid {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 1rem;
		padding-bottom: 2rem;
		margin-top: 2rem;
	}

	.tierContent {
		margin-bottom: 2rem;
	}

	.tierContent h2 {
		font-size: var(--font-3xl);
	}

	.tierContent p { 
		font-size: var(--font-lg);
	}

	.tierCard {
		width: calc(50% - 1rem);
		margin-bottom: 1rem;
	}

	.tierFeatures li {
		font-size: var(--font-xl);
		margin-bottom: 1rem;
	}

	.tierFeatures li span {
		font-size: 1.4rem;
		margin-right: 1rem;
		padding: 0.3rem;
	}
}
